@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="text-center">
    <p class="h1txt">
        <h1 class="Simply" >Simply and comfy services</h1>
        <h3 class="Doing">Doing our job fast and qualitative</h3>
    </p>

    <a asp-controller="Services" asp-action="Index"><button class="home-button">Try Our Services</button></a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br />