@{
    ViewData["Title"] = "Our services page";
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 class="main-title">@ViewData["Title"]</h1>

<div class="services-container">
    <section class="service">
        <h2>Fast</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel libero vel elit eleifend sodales.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel libero vel elit eleifend sodales.</p>
    </section>

    <section class="service">
        <h2>Cheap</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel libero vel elit eleifend sodales.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel libero vel elit eleifend sodales.</p>
    </section>

    <section class="service">
        <h2>Qualitative</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel libero vel elit eleifend sodales.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel libero vel elit eleifend sodales.</p>
    </section>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br />